/* src/components/Navbar.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
   background-color: #ffffff;
  color: black;
  padding: 1.7rem 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 2px solid rgba(247, 244, 244, 0.962); /* Lower alpha = more transparent */
}
.EventLogo{
  width: 8rem;
  height: 3rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  font-size: 1.5rem;
} */

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout-button {
  background-color: #dc3545; /* Bootstrap-style red */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
  background-color: #c82333;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}
